.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
    padding: 5px 10px;
    font-size: 24px;
    font-weight: bold;
    color: #000;;
    transition: color 250ms ease-in;
}

.link:hover,
.link:focus {
    color: orangered;
}

.link__active {
    color: orangered;
}