.favorite_container{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #2F4F4F;        
    border-radius: 20px;
}
@media screen and (min-width:768px) {
.favorite_container{
    align-items: center;
    justify-content: center;
    color: #2F4F4F;
    border-radius: 20px;
    }
}

