.container{
width: 100vw;
  display: flex;
    align-items: center;
    justify-content: center;
   
   
    }


.pokemon_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 650px;
    padding: 10px;
    color: #2F4F4F;
    background-color: rgba(51, 189, 101, 0.5);
    border-radius: 20px;
    
    
}
.container_name{
    display: flex;
        flex-direction: row;
        width: 100%;
}

.pokemon_name{
    text-transform: capitalize;
    flex: 1;
    text-align: center;
}

.image{
    height: 300px;
        margin: 50px auto;
}
.container_info{
    display: grid;
        width: 100%;
        grid-template-columns: 200px 200px 200px;
        box-sizing: border-box;
        grid-gap: 5px;
        justify-content: end;
}

.container_info div {
    display: flex;
    align-items: center;
    height: 50px;
}

.btn {
    padding: 8px 8px;
    color: #2F4F4F;
    background-color: hsl(155, 100%, 50%);
    border: 1px solid #2F4F4F;
    border-radius: 5px;
    cursor: pointer;
}
@media screen and (max-width:750px) {
    .pokemon_name{
        font-size: 1.8rem;
    }
    .pokemon_container{
        border-radius: 0;
            justify-content: space-around;
    }
    .container_name{
        flex-direction: column-reverse;
    }
    .image{
        height: 200px;
    }
    .container_info{
        justify-content: space-evenly;
            overflow-y: scroll;
            overflow-x: hidden;
    }
    .container_info div{
        height: 35px;
    }
}

@media screen and (max-width: 420px) {
    
    .pokemon_name{
        font-size: 1.5rem;
    }
    .image{
        height: 150px;
        margin: 30px auto;
    }
    .container_info div{
        height: 30px;
    }


}


